@model List<Unkon.Entities.Iletisim>
@{
    ViewBag.Title = "İletişimList";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Tables</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tables</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Basic Tables</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hakkımda Düzenle</div>
                    </div>
                    <div class="card-body">
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Adres</th>
                                    <th scope="col">Telefon</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Konum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Adres</td>
                                        <td>@item.Telefon</td>
                                        <td>@item.Email</td>
                                        <td>@item.KonumUrl</td>
                                        <td><a href="#" class="btn btn-danger">Sil</a></td>
                                        <td><a href="#" class="btn btn-success">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="#" class="btn btn-primary">Yeni Kategori Girişi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

