@model List<Unkon.Entities.Hakkimizda>

<section id="features" class="features section">
    <div class="container">

        <!-- Sekme Başlıkları -->
        <ul class="nav nav-tabs row d-flex" data-aos="fade-up" data-aos-delay="100">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li class="nav-item col-3">
                    <a class="nav-link @(i == 0 ? "active show" : "")" data-bs-toggle="tab" data-bs-target="#features-tab-@i">
                        <i class="bi bi-tools"></i> <!-- İkonu dinamik yapmak için gerekirse Model[i].IconPath kullanılabilir -->
                        <h4 class="d-none d-lg-block">@Model[i].Baslik</h4>
                    </a>
                </li>
            }
        </ul><!-- Sekme Başlıkları Bitiş -->
        <!-- Sekme İçerikleri -->
        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="tab-pane fade @(i == 0 ? "active show" : "")" id="features-tab-@i">
                    <div class="row">
                        <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                            <p class="fst-italic">
                                @Model[i].Icerik
                            </p>
                            <ul>
                                <li><i class="bi bi-check2-all"></i> <span>@Model[i].AltBaslik</span></li>
                                <li><i class="bi bi-check2-all"></i> <span>@Model[i].AltBaslik1</span></li>
                                <li><i class="bi bi-check2-all"></i> <span>@Model[i].AltBaslik2</span></li>
                                <!-- Ekstra listeler eklemek isterseniz buraya daha fazla alt başlık ekleyebilirsiniz. -->
                            </ul>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 text-center">
                            <img src="~/Unko/assets/img/Unkon/Foto1.jpg" alt="@Model[i].Baslik" class="img-fluid">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
